body {
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }

  .background {
    padding-top: 50px; /* Adjust as needed */
  }

  .picture {
    margin-top: 50px; /* Adjust as needed */
  }

  .picture img {
    max-width: 80%; /* Adjust as needed */
    display: block;
    margin: 0 auto; /* Center the image */
  }

  #loading {
    margin-top: 20px; /* Adjust as needed */
  }

  h1 {
    font-weight: bold;
  }

  button {
    background-color: rgb(50, 136, 163);
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }